header{
	background:  #3572EF;
	padding: 20px;
	right: 1110px;
}

.caixa{
	position: relative;
	width: 1310px;
	margin: 0em 0em 0em 0em;
}

.Imagens{
	margin-left: 27em;
	width: 50%;
	height: 50%;
}


#logotipo{
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
	display: inline-block;
	margin: 15px;
}

nav li{
	display: inline;
	margin:0 0 0 30px;
	text-align: left;
	display: inline-block;
	vertical-align: top;

}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 29px;
	text-decoration: none;	
	display: inline-block;
	vertical-align: top;
	padding: 10px;

}

nav{
	position: absolute;
	top: 50px;
	left: 300px;
	display: inline-block;
	vertical-align: top;
	}


nav a:hover{
	color: #FFFFFF;
	background-color: #235ac7;
	border-radius: 7px;
	transition-duration: 0.6s;

}

.link:hover{
	color: #FFFFFF;
	background-color: #235ac7;
	border-radius: 7px;
	transition-duration: 0.6s;
	text-decoration: none;
}


h1{
	display:inline-flex;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}

h1 a{
	text-decoration: none;
	color: black;
	padding: 6px 6px 10px 6px;
}

body{
	background-color: rgb(243, 241, 238);
}

.texto{

	display:table-cell;
	float: left;
	width: 500px;
	margin:30px;
	text-indent: 10px
}

p{
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	justify-content: center;
}

*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.Voltar{
	width: 40px;
	height: 20px;
}

.caixa {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.footer {
	background-color: rgba(0, 0, 50.2, 0.4);
	
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}
.footer a {
	color: white;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}