header{
	background:  #3e96df;
	padding: 20px;
	
	
}

.caixa{
	position: relative;
	width: 1310px;
	margin: 0 auto;


}

#logotipo{
	margin:0px;
	border: solid 4px #111147;
	display: inline-block;
	vertical-align: top;
}

nav li{
	display: inline;
	margin:0 0 0 30px;
	text-align: left;
	display: inline-block;
	vertical-align: top;

}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 29px;
	text-decoration: none;	
	display: inline-block;
	vertical-align: top;
}

nav{
	position: absolute;
	top: 50px;
	left: 300px;
	display: inline-block;
	vertical-align: top;
	}


nav a:hover{
	color: #FFFFFF;
	text-decoration: underline;

}



h1 {
	display:inline-flex;
	text-align: center;
	width: 500px;
}

.descricao1{
	width: 1500px;
	margin: auto;

}

.conteudo{
	display: table;
}

.imagem{
	display: table-cell;
	float: left;
	margin: 15px;

}

.texto{

	display:table-cell;
	float: left;
	width: 500px;
	margin:30px;
	text-indent: 10px
}

p{
	
	font-size: 20px

}